<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {
        $('#_btnAssignStaff').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "AssignStaff?Empcode=" + selectedIDs + "&Batch=" + txtBatch.GetValue();
        });
    });

    function DbRowClick(s, e) {
        ss = 1;
        s.GetRowValues(s.GetFocusedRowIndex(), 'Code;', OnGetRowValues);
    }

    function OnGetRowValues(values) {
        selectedIDs = values[0];
    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("EmpCode", GetSelectedFieldValuesCallback);
    }

    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
    }


</script>

@model Humica.Logic.Atts.ATBatchObject


<div class="fitler-doc">
    @Html.Partial("FTFilter", Model)
</div>
@Html.Partial("GridItems", Model.ListStaffs)
