<script src="~/Content/CompanyTee.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ShowData();
    });
    function ShowData() {
        $.ajax({
            type: 'post',
            url: _baseUrl + '/HRM/HRS/HRCompanyTree/GetData',
            data: {  },
            success: function (data) {
                if (data.MS == "OK") {

                    var nodes = data.DT;
                    for (var i = 0; i < nodes.length; i++) {
                        var node = nodes[i];
                        if (node.tags != null) {
                            node.tags = [node.tags];
                        }
                    }
                    var chart = new OrgChart(document.getElementById("tree"), {
                        menu: {
                            pdf: { text: "Export PDF" },
                            //png: { text: "Export PNG" },
                        },
                        template: "ula",
                        mouseScrool: OrgChart.action.scroll,
                        showXScroll: OrgChart.scroll.visible,
                        showYScroll: OrgChart.scroll.visible,
                        enableSearch: false,

                        layout: OrgChart.mixed,
                        nodeBinding: {
                            field_0: "name",
                            field_1: "title",
                        },
                        nodes: nodes
                    });
                }

            }
        });
    }
    //chart.on('init', function () {
    //    preview();
    //})
    //function preview() {
    //    OrgChart.pdfPrevUI.show(chart, {
    //        format: 'A4'
    //    });
    //}
</script>
<style>
        /*CSS*/
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-family: Helvetica;
            overflow: hidden;
        }

        #tree {
            width: 100%;
            height: 100%;
        }
</style>
<div id="tree"></div>
