@model Humica.Employee.IClsEmployee

@Html.DevExpress().FormLayout(gg =>
{
    var isReadOnly = false;
    //if (ViewData[OLYMPIA.Models.ClsConstant.IS_READ_ONLY] != null)
    //{
    //    isReadOnly = true;
    //}

    gg.Name = "ProfileImage";
    gg.AlignItemCaptionsInAllGroups = true;
    gg.Items.AddGroupItem(m => m.Header, g =>
    {
        g.Caption = "";
        g.GroupBoxDecoration = GroupBoxDecoration.None;
        g.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        g.ColCount = 3;
        g.Items.AddGroupItem(m => m.Header, g1 =>
        {
            g1.ColCount = 2;
            g1.GroupBoxDecoration = GroupBoxDecoration.None;
            g1.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            g1.Caption = "Place of Birth Information";
            g1.Items.Add(mm =>
            {
                mm.Caption = "";
            })
            .SetNestedContent(() =>
            {
                if (isReadOnly == true)
                {
                    ViewContext.Writer.Write("<div id='externalDropZone' class='dropZoneExternal'>");
                    ViewContext.Writer.Write("<img id='uploadedImage' src='" + Model.Header.Images + "' alt=''   />");
                    ViewContext.Writer.Write("</div>");
                }
                if (isReadOnly == false)
                {
                    ViewContext.Writer.Write("<div id='externalDropZone' class='dropZoneExternal'><div id='dragZone'><span class='dragZoneText'>Drop Profile Image</span></div>");
                    ViewContext.Writer.Write("<img id='uploadedImage' src='" + Model.Header.Images + "' alt='' style='width: 350px;' onload='onImageLoad()' />");
                    ViewContext.Writer.Write("<div id='dropZone' style='display: none'>");
                    ViewContext.Writer.Write("<span class='dropZoneText'>Drop Image</span>");
                    ViewContext.Writer.Write("</div></div>");
                    ViewContext.Writer.Write("</div></div>");
                    Html.DevExpress().UploadControl(ss =>
                    {
                        ss.ShowProgressPanel = true;
                        ss.CallbackRouteValues = new { Controller = "HRStaffProfile", Action = "UploadControlCallbackActionImage" };
                        ss.Name = "uc_image";
                        ss.UploadMode = UploadControlUploadMode.Auto;
                        ss.AutoStartUpload = true;
                        ss.Width = 350;
                        ss.DialogTriggerID = "externalDropZone";
                        ss.AdvancedModeSettings.EnableDragAndDrop = true;
                        ss.AdvancedModeSettings.EnableFileList = false;
                        ss.AdvancedModeSettings.EnableMultiSelect = false;
                        ss.AdvancedModeSettings.ExternalDropZoneID = "externalDropZone";
                        ss.AdvancedModeSettings.DropZoneText = "";
                        ss.ValidationSettings.MaxFileSize = 9194304;
                        ss.ValidationSettings.AllowedFileExtensions = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
                        ss.ValidationSettings.ErrorStyle.CssClass = "validationMessage";
                        ss.BrowseButton.Text = "Choose Image.";
                        ss.Styles.DropZone.CssClass = "uploadControlDropZone";
                        ss.Styles.ProgressBar.CssClass = "uploadControlProgressBar";
                        ss.ClientSideEvents.DropZoneEnter = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', true); }";
                        ss.ClientSideEvents.DropZoneLeave = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', false); }";
                        ss.ClientSideEvents.FileUploadComplete = "onUploadControlFileUploadCompleteProfile";
                    }).Render();
                    Html.DevExpress().TextBoxFor(i => i.Header.Images, s =>
                    {
                        s.Properties.ClientInstanceName = "txtImage";
                        //s.Properties.ClientSideEvents.GotFocus = "OnFocus";
                        s.Properties.EnableClientSideAPI = true;
                        s.ClientVisible = false;
                        s.Width = 200;
                    }).Render();

                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btRemoveP";
                        s.Text = "Remove";
                        s.ClientSideEvents.Click = "RemoveFile1";
                    }).Render();
                }
            });
            g1.Items.Add(mm =>
            {
                mm.Caption = "";
            })
             .SetNestedContent(() =>
             {
                 if (isReadOnly == true)
                 {
                     ViewContext.Writer.Write("<div id='externalDropZone1' class='dropZoneExternal1'>");
                     ViewContext.Writer.Write("<img id='uploadedImage1' src='" + Model.Header.Signature + "' alt=''   />");
                     ViewContext.Writer.Write("</div>");
                 }
                 if (isReadOnly == false)
                 {
                     ViewContext.Writer.Write("<div id='externalDropZone1' class='dropZoneExternal'><div id='dragZone1'><span class='dragZoneText1'>Drop Signature Image</span></div>");
                     ViewContext.Writer.Write("<img id='uploadedImage1' src='" + Model.Header.Signature + "' alt='' style='width: 350px;' onload='onImageLoad1()' />");
                     ViewContext.Writer.Write("<div id='dropZone1' style='display: none'>");
                     ViewContext.Writer.Write("<span class='dropZoneText1'>Drop Profile Image</span>");
                     ViewContext.Writer.Write("</div></div>");
                     ViewContext.Writer.Write("</div></div>");
                     Html.DevExpress().UploadControl(ss =>
                     {
                         ss.ShowProgressPanel = true;
                         ss.CallbackRouteValues = new { Controller = "HRStaffProfile", Action = "UploadControlCallbackActionSignature" };
                         ss.Name = "uc_signature";
                         ss.UploadMode = UploadControlUploadMode.Auto;
                         ss.AutoStartUpload = true;
                         ss.Width = 350;
                         ss.DialogTriggerID = "externalDropZone1";
                         ss.AdvancedModeSettings.EnableDragAndDrop = true;
                         ss.AdvancedModeSettings.EnableFileList = false;
                         ss.AdvancedModeSettings.EnableMultiSelect = false;
                         ss.AdvancedModeSettings.ExternalDropZoneID = "externalDropZone1";
                         ss.AdvancedModeSettings.DropZoneText = "";
                         ss.ValidationSettings.MaxFileSize = 9194304;
                         ss.ValidationSettings.AllowedFileExtensions = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
                         ss.ValidationSettings.ErrorStyle.CssClass = "validationMessage1";
                         ss.BrowseButton.Text = "Choose Image.";
                         ss.Styles.DropZone.CssClass = "uploadControlDropZone1";
                         ss.Styles.ProgressBar.CssClass = "uploadControlProgressBar1";
                         ss.ClientSideEvents.DropZoneEnter = "function(s, e) { if(e.dropZone1.id == 'externalDropZone1') setElementVisible('dropZone1', true); }";
                         ss.ClientSideEvents.DropZoneLeave = "function(s, e) { if(e.dropZone1.id == 'externalDropZone1') setElementVisible('dropZone1', false); }";
                         ss.ClientSideEvents.FileUploadComplete = "onUploadControlFileUploadCompleteSignature";
                     }).Render();
                     Html.DevExpress().TextBoxFor(i => i.Header.Signature, s =>
                     {
                         s.Properties.ClientInstanceName = "txtSignature";
                         //s.Properties.ClientSideEvents.GotFocus = "OnFocus";
                         s.Properties.EnableClientSideAPI = true;
                         s.ClientVisible = false;
                         s.Width = 200;
                     }).Render();

                     Html.DevExpress().Button(s =>
                     {
                         s.Name = "btRemoveS";
                         s.Text = "Remove";
                         s.ClientSideEvents.Click = "RemoveFile2";
                     }).Render();
                 }
             });
        });

    });

}).GetHtml()