@{
    Layout = "~/Views/Shared/_LoadingLayout.cshtml";
}
<form name="Humica" method="post">
    @model Humica.EF.Models.SY.ChangePwd
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "registrationForm";
    settings.AlignItemCaptionsInAllGroups = true;
    settings.Width = Unit.Percentage(50);
    settings.Items.AddGroupItem(m => Model, g =>
    {
        g.GroupBoxDecoration = GroupBoxDecoration.None;
        g.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Left;

        if (ViewData[Humica.EF.Models.SY.SYConstant.AUTHENTICATION_FAIL] != null)
        {
            g.Items.Add(m =>
            {
                m.Caption = "";
            }).SetNestedContent(() =>
            {
                Html.DevExpress().Label(s =>
                {
                    Humica.EF.MD.SYMessage obj = (Humica.EF.MD.SYMessage)ViewData[Humica.EF.Models.SY.SYConstant.AUTHENTICATION_FAIL];
                    s.Text = obj.Description;
                    s.ControlStyle.Font.Size = 14;
                    s.ControlStyle.Font.Bold = true;
                    s.ControlStyle.ForeColor = System.Drawing.ColorTranslator.FromHtml("#01A31C");
                }).Render();

            });
        }

        g.Items.Add(m =>
        {
            m.Caption = Humica.EF.Models.SY.SYSettings.getLabel("CurrentPassword");
        }).SetNestedContent(() =>
        {
            Html.DevExpress().TextBoxFor(i => Model.CurrentPassword, s =>
            {
                s.ShowModelErrors = true;
                s.Properties.Password = s.Name.Contains("Password");
                s.Width = Unit.Percentage(100);
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                s.Properties.ValidationSettings.Display = Display.Static;
                s.Properties.ValidationSettings.ErrorText = "*";
                s.Properties.NullText = Humica.EF.Models.SY.SYSettings.getLabel("CurrentPassword");
            }).Render();
        });

        g.Items.Add(m =>
        {
            m.Caption = Humica.EF.Models.SY.SYSettings.getLabel("NewPassword");
        }).SetNestedContent(() =>
        {
            Html.DevExpress().TextBoxFor(i => Model.NewPassword, s =>
            {
                s.ShowModelErrors = true;
                s.Properties.Password = s.Name.Contains("Password");
                s.Width = Unit.Percentage(100);
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                s.Properties.ValidationSettings.Display = Display.Static;
                s.Properties.ValidationSettings.ErrorText = "*";
                s.Properties.NullText = Humica.EF.Models.SY.SYSettings.getLabel("NewPassword");
            }).Render();
        });

        g.Items.Add(m =>
        {
            m.Caption = Humica.EF.Models.SY.SYSettings.getLabel("RePassword");
        }).SetNestedContent(() =>
        {
            Html.DevExpress().TextBoxFor(i => Model.RePassword, s =>
            {
                s.ShowModelErrors = true;
                s.Properties.Password = s.Name.Contains("Password");
                s.Width = Unit.Percentage(100);
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                s.Properties.ValidationSettings.Display = Display.Static;
                s.Properties.ValidationSettings.ErrorText = "*";
                s.Properties.NullText = Humica.EF.Models.SY.SYSettings.getLabel("RePassword");
            }).Render();
        });

        g.Items.Add(m =>
        {
            m.Caption = "";
        }).SetNestedContent(() =>
        {
            Html.DevExpress().Button(s =>
            {
                s.Name = "sBtnLogin";

                s.Text = Humica.EF.Models.SY.SYSettings.getLabel("Submit");
                s.UseSubmitBehavior = true;
                s.RenderMode = ButtonRenderMode.Button;
                s.UseSubmitBehavior = true;
                s.Images.Image.IconID = IconID.ActionsApply16x16;
            }).Render();
        });
    });
}).GetHtml()
</form>